{% extends "page.html" %}

{% block main %}
<h2>User</h2>

<ul>
  {% for key,value in nbex_user.items() %}
    {% if key == 'courses' %}
      <li> {{ key|e }}:<ul>
      {% for course,details in value.items() %}
        <li> {{ course|e }}:<ul>
          {% for role,count in details.items() %}
            <li>{{ role }}</li>
          {% endfor %}
        </ul></li>
      {% endfor %}
      </ul></li>
      {% elif key == 'actions' %}
      <li> {{ key|e }}:<ul>
      {% for action,details in value.items() %}
        <li> {{ action|e }}:<ul>
          {% for action,time in details.items() %}
            <li>{{ action|e }} at {{ time|e }}</li>
          {% endfor %}
        </ul></li>
      {% endfor %}
      </ul></li>
      {% else %}
      <li>{{ key|e }}: {{ value|e }}</li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Release</h2>

<ul>
  {% for release in nbex_release %}
    <li>{{ release }}</li>
  {% endfor %}
</ul>
{% endblock %}