#history .panel-group .panel {
    margin-top: 3px;
    margin-bottom: 1em;
}

#history .panel-group .panel .panel-heading {
    background-color: #eee;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#history .panel-group .panel .panel-heading a:focus, a:hover {
    text-decoration: none;
}

#history .panel-group .panel .panel-body {
    padding: 0;
}

#history .panel-group .panel .panel-body .list_container {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#history .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #ddd;
}

#history .panel-group .panel .panel-body .list_container .list_item:last-child {
    border-bottom: 0px;
}

#history .assignment-notebooks .list_item {
    background-color: inherit !important;
}

#history .assignment-notebooks .list_item:hover {
    background-color: #ddd !important;
}

#history .assignment-notebooks .list_item:first-child:hover {
    background-color: inherit !important;
}

#history .list_item {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#history .list_item > div {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#history .item_status {
    text-align: right;
}

#history .item_status .btn {
    min-width: 13ex;
}

#history .list_placeholder {
    display: none;
}

#history .list_error, #history .version_error {
    display: none;
}

#submission-message p,
#validation-message p {
    margin-bottom: 1em;
    padding-top: 1em;
}

#submission-message pre,
#validation-message pre {
    margin-left: 1em;
    margin-right: 1em;
}

#submission-message pre {
    white-space: pre;
}

#history .list_placeholder, #history .list_loading, #history .list_error {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
table.sortable tbody tr:nth-child(2n) td {
    background: #cccccc;
}
  table.sortable tbody tr:nth-child(2n+1) td {
    background: #eeeeee;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

 /* The info message box */
 .alert {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 